.headerRow {
    position: absolute;
    top: 4vh;
    width: 90vw;
    left: 5vw;
    /* background-color: rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteName {
    font-size: 7vh;
    cursor: pointer;
}

.whiteText {
    color: white;
    text-shadow: 0 0 30px white;
}

.blueText {
    color: blue;
    margin-left: 0.4vw;
    text-shadow: 0 0 50px blue;
}

.buttonRow {
    display: flex;
    gap: 2vw;
}

.button {
    font-size: 5vh;
    cursor: pointer;
}

.button > path {
    filter: drop-shadow(0 0 50px white);
}