@import url(https://cdn.jsdelivr.net/npm/@xz/fonts@latest/serve/cascadia-code.min.css);

* {
    color: white;
    font-family: 'Cascadia Code';
}

body {
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    background-color: #191919;
}